.card-detail
  display: flex
  justify-content: space-around
  align-items: center
  p
    width: 60%
  .name-languaje
    h5
      color: #3a69a4
      width: 18%
      margin-right: 2rem

hr
  border: 0.5px solid #b0b8c0
