.card-repo
  display: flex
  flex-direction: column
  align-items: center
  border: 2.5px solid #2b3138
  border-radius: 1rem
  margin: 1rem 0
  background-color: #171a22

@media only screen and (max-width: 600px)
