ul
  display: flex
  width: 40vh
  flex-direction: column
  text-align: center
  list-style: none
  padding: 0
  margin: 0.4rem 0.4rem

  h3
    padding: 1.3rem
    border: 2px solid #2b3138
    border-radius: 2rem
    margin-bottom: 3rem

@media only screen and (max-width: 600px)
  ul
    width: 80%
    margin: 0.4rem 0.4rem
