
ul
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  h3
    letter-spacing: 2px
    span
      color: #3a69a4
  li
    list-style: none
    width: 70%
    img
      width: 7rem
